<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demo do Bootstrap</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/carrosel_main.css">
  <style>
    .video-container {
      border: 2px solid #000000; /* Cor da borda */
      border-radius: 10px; /* Cantos arredondados */
    }
  </style>
</head>

<body>
  <main>
    <!-- CARROSSEL  -->
    <div id="myCarousel" class="carousel slide mb-7" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/carrousel/segunda.jpg" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-start botardelay_carrosel">
              <h1 class="hidden">Entusiasta de Linux</h1>
              <p class="hidden">Veja aqui quais placas de vídeo eu recomendo.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carrousel/terceira.jpeg" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption hiddenY botardelay_carrosel">
              <h1 class="hiddenY">Daniel Augusto.</h1>
              <p class="opacity-75 hiddenY">Desenvolvedor de Software</p>
              <p class="hiddenY"><a class="btn btn-lg btn-primary" target="_blank" href="https://github.com/DanielAugustoFreire">Github</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/carrousel/primeira.jpg" width="100%" height="150%">
          <div class="container">
            <div class="carousel-caption text-end hidden botardelay_carrosel">
              <h1 class="hidden">Me siga no Instagram.</h1>
              <p class="hidden">Aqui você acompanha meu dia a dia como Desenvolvedor.</p>
              <p class="hidden"><a class="btn btn-lg btn-primary" target="_blank"
                  href="https://www.instagram.com/daniel_augustosant/">Instagram</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
    <!-- CARROSSEL  -->

    <div class="pricing-header mx-auto text-center mb-5 py-4">
      <h1 class="display-4 fw-bold text-body-emphasis" style="color: #343a40;">Sobre Mim</h1>
      <p class="lead text-muted">Uma breve introdução ao meu histórico e interesses</p>
    </div>
    <div class="container-fluid marketing p-0 m-0">
      <div class="row g-0 botardelay">
        <div class="col-lg-4 text-center p-4 hidden">
          <img src="/img/home_abaixo_carrosel/brasil.png" class="rounded-circle" width="140" height="140" alt="">
          <h2 class="fw-normal">Brasil</h2>
          <p>Moro em Iepê-SP, uma pequena cidade no interior do estado, e adoro viver aqui.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center p-4 hidden">
          <img src="/img/home_abaixo_carrosel/drum.jpeg" class="rounded-circle" width="140" height="140" alt="">
          <h2 class="fw-normal">Bateria</h2>
          <p>Tenho paixão por tocar bateria e venho me apresentando na minha igreja há cerca de 8 anos. Tem sido uma jornada gratificante combinar meu amor pela música com meu envolvimento na comunidade.</p>
          <p><a class="navbar-brand" href="#drums">Bateria</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center p-4 hidden">
          <img src="/img/home_abaixo_carrosel/linux.jpg" class="rounded-circle" width="140" height="140" alt="">
          <h2 class="fw-normal">Tecnologia</h2>
          <p>Estou utilizando com mais frequência distros Linux para armazenar servidores web com NodeJs e subindo eles para a internet de modo local via VM.</p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>

    <div class="container">
      <div class="row featurette" id="fipp">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><a class="text-black text-decoration-bold" target="_blank" href="https://www.unoeste.br/fipp">FIPP</a> estudante - <span
              class="text-body-secondary">Análise e Desenvolvimento de Sistemas</span></h2>
          <p class="lead">Formando 2025 em Junho</p>
        </div>
        <div class="col-md-5">
          <img src="/img/fipp.png" class="featurette-image img-fluid my-5" width="500" height="500" alt="">
        </div>
      </div>

      <hr>

      <div class="row featurette" id="drums">
        <div class="col-md-5 d-flex align-items-center my-5">
          <iframe src="https://www.youtube.com/embed/nCSjWx-U9js" class="my-5" width="480" height="270" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col">
          <h2 class="featurette-heading">Bateria</h2>
          <p>Meu pai me ensinou a tocar bateria quando eu tinha 12 anos. Com o tempo, eu peguei o jeito, perdi a vergonha e até me apresentei em um certo show que ocorreu na cidade.</p>
          <p class="lead">Neste vídeo, estou tocando bateria na igreja. Tocar bateria é uma ótima maneira de relaxar e pensar matematicamente.</p>
        </div>
      </div>
      <!--
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Sistema de Gerenciamento de Empréstimos<span
              class="text-body-secondary"> - Samsung</span></h2>
          <p class="lead">Com meu sistema, trouxe uma alavancagem nos empréstimos de cada loja individual da Samsung,
            portanto, aumentando o aporte financeiro na empresa via empréstimos.</p>
        </div>
        <div class="col-md-5">
          <img src="" class="featurette-image img-fluid my-5" width="500" height="500" alt="">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <script src="/js/home/home.js"></script>
  </main>
</body>
</html>