
body {
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  
  .marketing .col-lg-4 {
    text-align: center;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  

  
  .featurette-divider {
    margin: 5rem 0;
  }

  
  @media (min-width: 40em) {
    .carousel-caption p {
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.hidden{
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-10%);
  transition: all 1s;
}

.hiddenY{
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-10%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.botardelay_carrosel :nth-child(1){
  transition-delay: 100ms;
}
.botardelay_carrosel :nth-child(2){
  transform: translateY();
  transition-delay: 200ms;
}
.botardelay_carrosel :nth-child(3){
  transition-delay: 400ms;
}

.botardelay :nth-child(2){
  transition-delay: 200ms;
}

.botardelay :nth-child(1){
  transition-delay: 100ms;
}

.botardelay :nth-child(3){
  transition-delay: 300ms;
}