.setar_imagem_projeto {
    position: relative;
    height: 100%; /* Ajusta a altura conforme necessário */
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Impede que a imagem "vaze" do contêiner */
}

.background-blur {
    background-image: url(../img/Projeto/zap.jpeg);
    background-size: cover; /* Ajusta para cobrir todo o contêiner */
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    animation: pulse 5s infinite alternate; /* Animação de pulso */
    z-index: 0;
}

@keyframes pulse {
    0% {
        filter: blur(1px);
        transform: scale(1);
    }
    100% {
        filter: blur(3px); /* Aumenta o blur */
        transform: scale(1.1); /* Aumenta ligeiramente a escala */
    }
}

.fonte_elegante {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: large;
    z-index: 1; /* Garante que o texto fique acima da imagem de fundo */
}
